name: CI-CD-Pipeline-to-aws
env:
  EC_PACKAGE_S3_BUCKET_NAME : "django-applications-bucket-packages"
  EC_APPLICATION_NAME: "Django-shop-Instance"
  EC_ENVIRONMENT_NAME:  "Django-env"
  DEPLOY_PACKAGE_NAME: "django_shop_${{ github.sha }}.zip"
  AWS_REGION_NAME: "eu-north-1"

on:
  push:
    branches: [ "main" ]

jobs:
  ci_part:
    runs-on: ubuntu-latest
    
    steps:
    - name: Git clone repo
      uses: actions/checkout@v1
    
    - name: Craete ZIP package
      run: zip -r ${{ env.DEPLOY_PACKAGE_NAME }} ./ -x *.git*
    
    - name: Config AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{secrets.AWS_ACCESS_KEY}}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
        aws-region: ${{ env.AWS_REGION_NAME }}
    
    - name: copy package to s3 bucket
      run: aws s3 cp ${{env.DEPLOY_PACKAGE_NAME}}  s3://${{env.EC_PACKAGE_S3_BUCKET_NAME}}

    - name: Done
      run: echo "Done"


  cd_part:
    runs-on: ubuntu-latest
    needs: [ci_part]
    steps:
    - name: Config AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{secrets.AWS_ACCESS_KEY}}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
        aws-region: ${{ env.AWS_REGION_NAME }}
        
    - name: Deploy to EC2 instans
      run: |
        aws s3 cp s3://${{env.EC_PACKAGE_S3_BUCKET_NAME}}/${{env.DEPLOY_PACKAGE_NAME}} .django/
    
    
    
    
